@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d; 
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  transition: all 250ms;
  background-color: #444444;
}